.nav-header-container {
  height: 10vh;
  background-color: #272727;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-logo {
  width: 100px;
}
.link-header-container {
  display: flex;
}
.link {
  list-style-type: none;
  margin: 10px;
  color: #ffffff;
  font-weight: 500;
}
.logout-button {
  align-self: flex-end;
  margin-left: 250px;
}
